# Environment
__pycache__/
*.pyc

# Binaries and downloaded dependencies
bin/*
!bin/.gitkeep
mediamtx_*

# Caches
thumbnails/*
!thumbnails/.gitkeep

# Input/Output
temp/*
temp_vpn/*
input/*
!input/.gitkeep
streams/*
!streams/.gitkeep

# Config (optional, depends if you want to commit default config or not)
config.yml

.codegraph/
