@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#nav-bar,
#TabsToolbar,
#PersonalToolbar,
#sidebar-box,
#toolbar-menubar,
#titlebar {
    visibility: collapse !important;
    height: 0 !important;
    min-height: 0 !important;
    max-height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    border: none !important;
}

#statuspanel {
    display: none !important;
}
